body{
	background-color: #f0fbfb;
	margin: 0;
}
h1{
	color: #4d4d4d;
}
hr {	
	border: none;	
	border-top: 1px solid #cccccc;
	height: 1px;
}
table{
	-webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out; 
	margin: 1em auto 1em auto;
	border: 2px solid #ccc;
	border-collapse: collapse;
	width: 60%;
}
th{
	/*text-align: center;*/
	padding: 2px 8px 2px 8px;
	border: 2px solid #ccc;
	background-color:lightgreen;
}
td{
	border: 2px solid #ccc;
	padding: 10px;
    text-align: left;
}
input[type=text],input[type="password"] {	 	
	width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="submit"] {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-size: 100%;
}
.search{
	background-size: fixed;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
}
.center{
	text-align: center;
}
.unkn{
	background-color: red;
	font-weight: 600;
	text-align: center;
	font-style: italic;
}
.re{
	background-color: #00ff00;
	font-weight: 600;
	text-align: center;
}
.advance{
	cursor: pointer;
	display: block;
	text-align: left;
	font-weight: normal;
	text-decoration: underline;
}
.advance + input{
	display: none;
}
.advance + input + div{
	display: none;
}
.advance + input:checked + div{
	display: block;
}
.nortex{
	text-align: left;
}
.login{
	border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;    
    height: 300px;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
}
.login input[type="text"],input[type="password"]{
	width: 100%;
	margin: 0.5em auto 0em auto;
	padding-left: 0.5em;
}
.login input[type="submit"]{
	position: static;
	float: right;
	text-align: center;
	border-radius: 8px;
	background-color: #3399ff;
	width: 12em; 
	border: 2px solid #008CBA;
}
.logo{
	width: 8em;
	margin: 0.32em 1.0em 0.32em 0.5em;	
	float: left;
}
.header{
	background-color: #FFFF00;
	float: left;
	text-align: left;
}
.header font{
	color: #4d4d4d;
	font-size: 3.15em;
}
.content{
	/*padding-top:20px;*/
	margin-top:60px;
}
.logout{
	float: right;
	background-color: red;
}
ul {
	font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #4CAF50;
}
.name{	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
	background-color: #4CAF50;
}
.conreg{
	margin: 60px;
}
.conreg input , select{
	width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}