body{
	background-color: lightblue;
	margin: 0;
}
h1{
	color: #4d4d4d;
}
hr {	
	border: none;	
	border-top: 1px solid #cccccc;
	height: 1px;
}
@font-face{
	font-family: OpenSans;
	src: url(OpenSans-Regular.ttf);
}
table{	
	margin: 1em auto 1em auto;
	border: 2px solid #ccc;
	border-collapse: collapse;
	width: 70%;
}
th{
	/*text-align: center;*/
	padding: 2px 8px 2px 8px;	
	border: 2px solid #ccc;
	background-color: white;
}
td{
	border: 2px solid #ccc;
	padding: 10px;
    text-align: left;
	background-color: white;
}
input[type=text],input[type="password"] {	 	
	width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="submit"] {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-size: 100%;
	border-radius: 2px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: background-color .3s;
}
input[type="submit"]:hover{
	background-color: #27ae60;
}
input[type="submit"]:active{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
     transition-delay: 0s;
}
form {
    vertical-align:top;
}
input[type="text"]:focus{
	border:2px solid lightblue;
}
.search{
	background-size: fixed;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
}
.center{
	text-align: center;
}
.unkn{
	background-color: red;
	font-weight: 600;
	text-align: center;
	font-style: italic;
}
.re{
	background-color: #00ff00;
	font-weight: 600;
	text-align: center;
}
.advance{
	cursor: pointer;
	display: block;
	text-align: left;
	font-weight: normal;
	text-decoration: underline;
}
.advance + input{
	display: none;
}
.advance + input + div{
	display: none;
}
.advance + input:checked + div{
	display: block;
}
.nortex{
	text-align: left;
}
.card{
	background-color: white;
	width: 60em;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
	margin: 0.2em auto 0.6em auto;
	padding: 0.21em 1.5em 0.21em 1.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	overflow: hidden;
}
.card .content{
	display:inline-block;
}
.card table{
	width:100%;
	margin:0 auto 0 auto;
	border:none;
	text-align:left;
}
.card table tr th{
	border:none;
}
.cardtable table tr th{
	border: 2px solid #ccc;
}
.nobd{
	border:none;
	background-color: white;
}
.content{
	padding:50px;
	margin-top:50px;
}
.login{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 600px;
	hieght: 354px; 
	background-color: lightgreen;
	border-radius: 4px;
	border: 2px solid #f1f1f1;
	margin: 0.2em auto 0em auto;
	padding: 0.21em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	display: block;
}
.login input[type="text"],input[type="password"]{
	width: 100%;
	margin: 0.5em auto 0em auto;
	padding-left: 0.5em;
}
.login input[type="submit"]{
	position: static;
	float: right;
	text-align: center;
	border-radius: 8px;
	background-color: #3399ff;
	width: 12em; 
	border: 2px solid #008CBA;
}
.loginend{
	width: 100%;
	height: 40px;
	padding-top:16px;
	padding-left: 5px;
	overflow: hidden;
}
.logo{
	width: 8em;
	margin: 0.32em 1.0em 0.32em 0.5em;	
	float: left;
}
.header{
	background-color: #FFFF00;
	float: left;
	text-align: left;
}
.header font{
	font-family:OpenSans;
	color: #4d4d4d;
	font-size: 3.15em;
}
.content{
	/*padding-top:20px;*/
	font-family:OpenSans;
	margin-top:1.5em;
}
.logout{
	float: right;
	background-color: red;
}
.logout a:hover{
	background-color: red;
}
ul {
	font-family:OpenSans;
	font-size: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
	top: 0;
    width: 100%;
}
button{
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-size: 100%;
	border-radius: 2px;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: background-color .3s;
}
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
}

li a:hover, .dropdown:hover .dropbtn {
	transition-duration: 0.4s;
    background-color: yellow;
	color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
	transition-duration: 0.4s;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #4CAF50;
}
.name{	
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
	background-color: #4CAF50;
}
.conreg{
	margin: 60px;
}
.conreg input , select{
	width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.normal{	
	display: inline;
	text-align: left;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
	border-radius: 3px;
	padding: 1em;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
